[Unit]
Description=Minecraft Server %i
After=network.target

[Service]
WorkingDirectory=/opt/minecraft/%i
# Users Database is not available for within the unit, only root and minecraft is available, everybody else is nobody
#PrivateUsers=true
User=minecraft
Group=minecraft
# Read only mapping of /usr /boot and /etc
ProtectSystem=full
# /home, /root and /run/user seem to be empty from within the unit. It is recommended to enable this setting for all long-running services (in particular network-facing ones).
ProtectHome=true
# /proc/sys, /sys, /proc/sysrq-trigger, /proc/latency_stats, /proc/acpi, /proc/timer_stats, /proc/fs and /proc/irq will be read-only within the unit. It is recommended to turn this on for most services.
# Implies MountFlags=slave
#ProtectKernelTunables=true
# Block module system calls, also /usr/lib/modules. It is recommended to turn this on for most services that do not need special file systems or extra kernel modules to work
# Implies NoNewPrivileges=yes
#ProtectKernelModules=true
# It is hence recommended to turn this on for most services.
# Implies MountAPIVFS=yes
ProtectControlGroups=true

Type=forking

ExecStart=/usr/bin/screen -dmS %i -- /usr/bin/java -server -Xms1G -Xmx8G -XX:+UseG1GC -XX:ParallelGCThreads=2 -jar minecraft_server.jar

ExecReload=/usr/bin/screen -S %i -p 0 -X eval 'stuff "reload"\\015'

ExecStop=/usr/bin/screen -S %i -p 0 -X eval 'stuff "stop"\\015'
ExecStop=/bin/bash -c 'while kill -0 $MAINPID >/dev/null 2>&1; do sleep 1; done'
TimeoutStopSec=60s

Restart=on-failure
RestartSec=60s

[Install]
WantedBy=multi-user.target

