[Unit]
Description=Prepate ramdisc worlds folder and copy worlds into it
StopWhenUnneeded=yes

[Service]
Type=oneshot
RemainAfterExit=yes

ExecStart=rsync -auv /opt/minecraft/Minecraft/worlds/ /dev/shm/minecraft/
ExecStop=rsync -auv /dev/shm/minecraft/ /opt/minecraft/Minecraft/worlds/
