[Unit]
Description=Minecraft Dedicated Server %i
Wants=network-online.target
After=syslog.target network.target nss-lookup.target network-online.target

[Service]
Environment="WORKING_DIRECTORY=/opt/minecraft"
Environment="MINECRAFT_USER=minecraft"
Environment="MINECRAFT_GROUP=minecraft"
Environment="JAVA_RUNTIME=/usr/bin/java"

WorkingDirectory=$WORKING_DIRECTORY/%i
User=$MINECRAFT_USER
Group=$MINECRAFT_GROUP

TimeoutStopSec=2m

Restart=on-failure
RestartSec=1m 30s

Type=forking

ExecStart=/usr/bin/screen -dmS %i -- $JAVA_RUNTIME -server -Xms1G -Xmx8G -XX:+UseG1GC -XX:ParallelGCThreads=2 -jar minecraft_server.jar
ExecStop=/usr/bin/screen -S %i -p 0 -X eval 'stuff "stop"\\015'
ExecStop=/bin/bash -c 'while kill -0 $MAINPID >/dev/null 2>&1; do sleep 1; done'
ExecReload=/usr/bin/screen -S %i -p 0 -X eval 'stuff "reload"\\015'

# It is recommended to turn this on for most services (except containerization).
# Implies MountAPIVFS=yes
ProtectControlGroups=yes

# /home, /root and /run/user seem to be empty from within the unit. It is recommended to enable this setting for all long-running services (in particular network-facing ones).
ProtectHome=yes

# Read only mapping of /usr /boot /efi and /etc
ProtectSystem=full

[Install]
WantedBy=multi-user.target
