[Unit]
Description=Sync ramdisk to permanent storage
Requisite=minecraft-ramdisk-prepare.service

[Service]
Type=oneshot

ExecStart=rsync -auv /dev/shm/minecraft/ /opt/minecraft/Minecraft/worlds/
